:root {
	--motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
	--motion-duration: 0.3s;
  }
  
  * {
	box-sizing: border-box;
  }
  
  html {
	height: 100%;
  }

  header {
	text-align: center;
  }

  header h1 {
	font-size: 70px;
	font-weight: 600;
	background-image: linear-gradient(to left, #50CC3E, #8BD64E);
	color: transparent;
	background-clip: text;
	margin: 0 10px;
	-webkit-background-clip: text;
  }
  
  #startBtn {
	appearance: none;
	background: transparent;
	border: 0;
	color: #fff;
	cursor: pointer;
	font: inherit;
	font-weight: 500;
	line-height: 1;
	font-size: 1.5em;
	padding: 1em 1.5em;
	position: relative;
	transition: filter var(--motion-duration);
	display: inline-block;
	left: 45%;
	top: 5%;
  }
  
  #startBtn:hover {
	filter: brightness(1.1);
  }
  
  #startBtn:active {
	filter: brightness(0.9);
  }
  
  #startBtn > span {
	display: block;
	position: relative;
	transition: transform var(--motion-duration) var(--motion-ease);
	z-index: 1;
  }
  
  #startBtn:hover > span {
	transform: scale(1.05);
  }
  
  #startBtn:active > span {
	transform: scale(0.95);
  }
  
  #startBtn > svg {
	fill: #36a727;
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
  }
  
  #startBtn > svg > path {
	transition: var(--motion-duration) var(--motion-ease);
  }
  
  #startBtn:hover > svg > path {
	d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
  }
  
  #startBtn:active > svg > path {
	d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
  }

.hidden {
	display: none;
}

#circle-container {
	width: 200px;
	margin: 20px auto;
}
.q {
	font-family: Helvetica, Arial, sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f6f6f6;
	margin: 0 auto;
	width: 800px;
	border: none;
	padding: 40px;
	overflow: hidden;
}
.q legend {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	background-color: #f6f6f6;
	font-size: 20px;
}
.q input[type="radio"] + label {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	text-align: center;
}
.q input[type="radio"] + label span {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
	-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	display: block;
	margin: 0 auto;
	width: 80%;
	padding: 20px;
	background-color: #fff;
	margin-bottom: 10px;
}
.q input[type="radio"] + label span:hover {
	background-color: #dceefa;
	color: #000;
}
.q input[type="radio"]:checked + label span {
	background-color: #249dd4;
	color: #fff;
}
.q input[type="radio"] {
	position: absolute;
	left: -9999px;
}
.q .button-space {
	clear: both;
	height: 27px;
	padding-top: 20px;
}
.q .next {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	border: solid 2px #249dd4;
	color: #249dd4;
	font-size: 16px;
	padding: 2px 25px;
	text-transform: uppercase;
}
.disabled {
	display: none;
}
.end {
	text-align: center;
	font-family: Helvetica, arial, sans-serif;
	font-size: 50px;
	color: #047e3c;
	/* color: #c51c2a; */
}


